<div class="poruka">
    <button mat-icon-button style="float:right;margin:5px" matDialogClose>
        <mat-icon>close</mat-icon>
    </button>
    <mat-dialog-content>
        <header>Pitanje vezano za predmet:</header>
        <p><mat-form-field appearance="fill">
             <input matInput placeholder="Poruka ">
                
            </mat-form-field></p>
      
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" style="margin-right:5%;" matDialogClose>Pošalji!</button>
        <button mat-raised-button color="warn" matDialogClose>Cancel</button>
    </mat-dialog-actions>
</div>