<div class="footer">
    <div class="footer-text">
        <div class="footer-naslov">RADIO:</div>
        <p>Aleksandar Zivanovic 2020/0166</p>
        <div class="footer-last-row">
            <div class="footer-images">
                <img id="optionalstuff" class="footer-slika1" src="assets/images/banca-intesa.png" alt="">
                <img id="optionalstuff" class="footer-slika1" src="assets/images/mastercard-identity-check.png" alt="">
                <img id="optionalstuff" class="footer-slika1" src="assets/images/google-play.png" alt="">
                <img id="optionalstuff" class="footer-slika1" src="assets/images/wspay.png" alt="">
                <img id="optionalstuff" class="footer-slika1" src="assets/images/visa-secure.png" alt="">
            </div>
            <div class="footer-links">
                <a target="_blank" href="https://www.instagram.com/fon_bg/?hl=en"><img class="links"
                        src="assets/images/instagram-logo.png" alt=""></a>
                <a target="_blank" href="https://www.facebook.com/"><img class="links" src="assets/images/facebook.png"
                        alt=""></a>
                <a target="_blank"
                    href="https://www.google.com/maps/place/Faculty+of+Organizational+Sciences/@44.7726855,20.4730346,17z/data=!3m1!4b1!4m5!3m4!1s0x475a70576248bf79:0xadaf5cff042d3bd0!8m2!3d44.7726817!4d20.4752233"><img
                        class="links" src="assets/images/mape.png" alt=""></a>

            </div>
        </div>
    </div>
</div>