
<div *ngIf="follow && follow.items.length>0" class="container">
    <ul>
        <li *ngFor="let followItem of follow.items">
            <div>
                <img [src]="followItem.item.imageUrl" alt="followItem.item.name">
            </div>
            <div>
                <a routerLink="/item/{{followItem.item.id}}">
                    {{followItem.item.naziv}}
                    
                </a>
            </div>
           <div>
            <p>Trenutna cena:</p>
            {{followItem.item.trenutna_cena|currency}}
           </div>
           <div>
            <p>Kraj licitacije:</p>
            {{followItem.item.preostaloVreme|date:'dd.MM.yyyy HH:mm:ss'}}
           </div>
           
            <div>
                <button class="remove-button" (click)="removeFromFollow(followItem)" mat-raised-button>Ukloni iz Pratim</button>
            </div>

        </li>
    </ul>
    
</div>