<div class="forma">
    <button mat-icon-button style="float:right;margin:5px" matDialogClose>
        <mat-icon>close</mat-icon>
    </button>
    <mat-dialog-content>
        <header>Licitiraj!</header>
        <p><mat-form-field>
                <input matInput placeholder="Licitacija" ng-required="myVar">
                <mat-icon> attach_money</mat-icon>
            </mat-form-field></p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" style="margin-right:5%;" matDialogClose>Licitiraj!</button>
        <button mat-raised-button color="warn" matDialogClose>Cancle</button>
    </mat-dialog-actions>
</div>