@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}


ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.gotovo {
    height: rem;
    width: 14rem;
    font-family: "Quicksand", sans-serif;
    border: 1px solid whitesmoke;
    border-radius: 1 rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    color: black;
    filter: brightness(96%);
}

a:hover {
    opacity: 0.7;
    cursor: pointer;
}

.content {
    padding: .5rem 1rem;
    position: relative;
}

.pocetnaCena {
    display: flex;
    align-items: baseline;
}

.pocetnaCena p {
    margin-right: 5px;
}

.trenutnaCena {
    display: flex;
    align-items: baseline;
}

.trenutnaCena p {
    margin-right: 5px;
}

.sortiranje {
    position: absolute;
    right: 1rem;
    top: 15.5rem;
}