<app-search>

</app-search>
<div class="dropdown-menu">
    <app-dropdown-menu></app-dropdown-menu>
</div>
<h3>Najtrazeniji predmeti</h3>
<ul>
    <li *ngFor="let item of itemsAuctions |paginate:{itemsPerPage:6,currentPage:p}">
        <app-item-reusable [item]="item"></app-item-reusable>
    </li>
</ul>
<h3>Gotove aukcije</h3>
<ul>

    <li *ngFor="let item of itemsGotovo ">
        <div class="gotovo">
            <app-item-reusable [item]="item"></app-item-reusable>

        </div>
    </li>
</ul>
<div class="pagination"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>