@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
