<app-search>

</app-search>
<h3>Najtrazeniji predmeti</h3>
<ul>
    <li *ngFor="let item of items |paginate:{itemsPerPage:6,currentPage:p}">
        <app-item-reusable [item]="item"></app-item-reusable>
    </li>
</ul>
<h3>Gotove aukcije</h3>
<ul>

    <li *ngFor="let item of itemsGotovo ">
        <div class="gotovo">
            <img src="{{item.imageUrl}}" alt="">
            <div class="content">
                <div class="Naziv">
                    {{item.naziv}}
                </div>
                <div class="Opis">
                    {{item.opis}}
                </div>
                <div class="product-item-footer">
                    <div class="pocetnaCena">
                        <p>Pocetna cena:</p>
                        {{item.pocetna_cena|currency}}
                    </div>
                    <div class="trenutnaCena">
                        <p>Trenutna cena:</p>
                        {{item.trenutna_cena|currency}}

                    </div>
                    <div class="pobednik">
                        <p>Pobednik:dadasd</p>


                    </div>
                </div>
            </div>

        </div>
    </li>
</ul>
<div class="pagination"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>