<div class="container">
    <img [src]="item.url" [alt]="item.naziv" />
    <div class="details">
        <div class="header">
            <span class="name">
                {{item.naziv|capitalize}}
            </span>
        </div>
        <div class="raspolozivaSredstva">
            <p>Raspoloživa sredstva: {{novac}} {{currencySymbol}}</p>
        </div>
        <div class="dodajNovac">
            <mat-form-field class="form-field">

                <input type="number" matInput #matInputDodajNovac placeholder="Dodaj novac na racun" min="0"[(ngModel)]="inputValue1">
              {{currencySymbol}}
            </mat-form-field>
            <button mat-raised-button (click)="dodajNovac(matInputDodajNovac.value,matInputDodajNovac)">Dodaj</button>

        </div>

        <div class="pocetnaCena" [ngStyle]="{ 'font-family': 'Quicksand, sans-serif' }">

            <p>Pocetna cena:</p>
            {{item.pocetna_cena| number:'1.0-0'}} {{currencySymbol}}
        </div>
        <div class="trenutnaCena" [ngStyle]="{ 'font-family': 'Quicksand, sans-serif' }">
            <p>Trenutna cena:</p>
            {{item.trenutna_cena| number:'1.0-0'}} {{currencySymbol}}
        </div>

        <div class="preostaloVreme" [ngStyle]="{ 'font-family': 'Quicksand, sans-serif' }">
            <p>Aukcija traje do:</p>
            {{item.preostaloVreme|date:'dd.MM.yyyy HH:mm:ss'}}
        </div>
        <div class="preostaloVreme" [ngStyle]="{ 'font-family': 'Quicksand, sans-serif' }" *ngIf="signal==0">
            <p>Preostalo vreme aukcije:</p>
            {{preostaliDani}} dana {{preostaliSati}}:{{preostaliMinuti}}:{{preostaleSekunde}}
        </div>
        <div class="unesi">
            <mat-form-field class="form-field">

                <input type="number" matInput #matInputLicitiraj placeholder="Unesi licitaciju"  min="0" [(ngModel)]="inputValue">
                {{currencySymbol}}
            </mat-form-field>


        </div>
        <div class="valuta">
            <mat-form-field>
                <mat-label>Izaberite valutu</mat-label>
                <mat-select [(ngModel)]="selectedCurrency">
                    <mat-option *ngFor="let option of currency" [value]="option " (click)="promeniValutu(option)"> {{
                        option }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="gotovo" *ngIf="signal==1 ">
            <p>
                Aukcija je zavrsena. Ne mozete vise licitirati.

            </p>


        </div>
        <div class="nijedanBid" *ngIf="(endMessage.length>0 && signal==1) ">
            <p>
                {{endMessage}}

            </p>


        </div>

        <div class="upozorenje">
            <p *ngIf="validationMessage.length > 0" style="color:red">{{validationMessage}}</p>
        </div>

        <button (click)="getSelectedPriceValue(matInputLicitiraj.value, matInputLicitiraj)" mat-raised-button>Licitiraj</button>


        <p>
            Opis: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
        </p>

    </div>
    <div class="contact">
        <h3>Prodavac</h3>
        <div>

            <div class="nazivKorisnika">

                {{userName}}


            </div>


            <div class="uProizvoda" *ngIf="item.user_id!==userId">
                <a href="#" routerLink="/user/{{this.item.user_id}}">
                    <button mat-raised-button><mat-icon>inbox</mat-icon>Sve aukcije prodavca</button>
                </a>
            </div>
            <div class="uProizvoda" *ngIf="item.user_id===userId">
                <a href="#" routerLink="/user/{{this.item.user_id}}">
                    <button mat-raised-button><mat-icon>inbox</mat-icon>Sve vase aukcije</button>
                </a>
            </div>
            <div *ngIf="item.user_id!==userId">
                <mat-dialog-actions>

                    <button mat-raised-button (click)="openDialog()"><mat-icon> message</mat-icon>Kontaktiraj
                        prodavca</button>

                </mat-dialog-actions>
            </div>


        </div>
        <div class="obrisiAukciju" *ngIf="item.user_id===userId || (user?.role=='admin'&& signal==1)">
            <button mat-raised-button (click)="deleteAuction()"> <mat-icon>delete</mat-icon>Obrisi
                Aukciju</button>
        </div>
    </div>

</div>