<div class="container">
    <img [src]="item.url" [alt]="item.naziv" />
    <div class="details">
        <div class="header">
            <span class="name">
                {{item.naziv|capitalize}}
            </span>
        </div>
        <div class="pocetnaCena" [ngStyle]="{ 'font-family': 'Quicksand, sans-serif' }">
            <p>Pocetna cena:</p>
            {{item.pocetna_cena|currency}}
        </div>
        <div class="trenutnaCena" [ngStyle]="{ 'font-family': 'Quicksand, sans-serif' }">
            <p>Trenutna cena:</p>
            {{item.trenutna_cena|currency}}
        </div>
        <div class="preostaloVreme" [ngStyle]="{ 'font-family': 'Quicksand, sans-serif' }">
            <p>Aukcija traje do:</p>
            {{item.preostaloVreme|date:'dd.MM.yyyy HH:mm:ss'}}
        </div>
        <div class="preostaloVreme" [ngStyle]="{ 'font-family': 'Quicksand, sans-serif' }">
            <p>Preostalo vreme aukcije:</p>
            {{preostaliDani}} dana {{preostaliSati}}:{{preostaliMinuti}}:{{preostaleSekunde}}
        </div>
        <div class="unesi">
            <mat-form-field  class="form-field" >
                    <input type="number" matInput #matInput placeholder="Unesi licitaciju">
                    <mat-icon> attach_money</mat-icon>
                </mat-form-field>
        </div>
        <div class="gotovo"
            *ngIf="preostaleSekunde == 0 && preostaliMinuti==0 && preostaliSati==0 && preostaliDani==0 ">
            <p>
                Aukcija je zavrsena.
                
            </p>


        </div>

        <div class="upozorenje">
            <p *ngIf="validationMessage.length > 0" style="color:red">{{validationMessage}}</p>
        </div>
        <button (click)="getSelectedPriceValue(matInput.value)" mat-raised-button>Licitiraj</button>
        <p>
            Opis: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
        </p>

    </div>
    <div class="contact">
        <h3>Prodavac</h3>
        <div>

            <div class="nazivKorisnika">

                {{item.naziv}}


            </div>


            <div class="uProizvoda">
                <a href="#" routerLink="/user/{{item.user_id}}">
                    <button mat-raised-button><mat-icon>inbox</mat-icon>Svi predmeti prodavca</button>
                </a>
            </div>
            <mat-dialog-actions>

                <button mat-raised-button (click)="openDialog()"><mat-icon> message</mat-icon>Kontaktiraj
                    prodavca</button>

            </mat-dialog-actions>

        </div>
    </div>
</div>