header {
    background: white;
    padding: 0;
    border-bottom: solid 2px;

}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 1rem;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 0.5%;
    color: white;

}

.left-button button {
    background-color: #0E4C92;

}

div button:hover {
    opacity: 2;
    cursor: pointer;
}

.left-button,
.right-buttons {
    display: flex;
    align-items: center;
}

.right-buttons button {
    margin-top: 10px;
    margin-right: 10px;
    background-color: #0E4C92;
    width: 5rem;
}

.right-buttons p {
    margin-top: 0px;
    margin-left: 11.5px;
    font-family: "Quicksand", sans-serif;
    font-weight: 1000;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.user-info p {
    margin-top: 5rem;
    margin-left: 5rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 1000;
}
.dodajAukciju p{
    margin-left: -0.5rem;
}
.pratim p{
    margin-left: 1.2rem;
}
.chart button{
    background-color: #0E4C92; 
    margin-left: 1rem;
  
}