<header>
    <div class="container">
        <div class="left-button">
            <a href="#" routerLink="/"><button mat-raised-button>KupiBrzo!</button></a>
        </div>
        <div class="right-buttons">
            <div class="pratim">
                <a href="#" routerLink="/follow-page"><button mat-fab
                        color="black"><mat-icon>star</mat-icon></button></a>
                <p>Pratim</p>
            </div>
            <div class="Uloguj se"> 
            <a href="#" routerLink="/user-login"><button mat-fab><mat-icon>account_circle</mat-icon></button></a>
            <p>Uloguj se</p>
        </div>
    </div>

    </div>

</header>